:root {
    --invert: 0;
    --sepia: 0.1;
}

@media print {
    :root {
        --invert: 0 !important;
        --sepia: 0 !important;
    }
    header {
        display: none !important;
    }
    body {
        box-shadow: none !important;
        padding: 0 !important;
    }
    a {
        color: inherit;
        text-decoration: none;
    }
}

html {
    display: flex;
    place-content: center;
    filter: sepia(var(--sepia)) invert(var(--invert));
    background-color: #dfdfdf;
    color: #111;
    min-height: 100%;
}

body {
    padding: 1em 1.5em;
    flex-basis: 100%;
    margin: 0;
    max-width: 50em;
    font-family: monospace;
    background-color: #eee;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0.1em 0.4em;
}

header {
    display: flex;
    place-content: space-between;
}

nav > *+* {
    padding-left: 2em;
}
