:root {
    --invert: 0;
    --sepia: 0.1;
}

@media (prefers-color-scheme: dark) {
    :root {
        --invert: 1;
    }
}
@media print {
    :root {
        --invert: 0 !important;
        --sepia: 0 !important;
    }
}

html {
    display: flex;
    place-content: center;
    filter: sepia(var(--sepia)) invert(var(--invert));
    background-color: #eee;
    color: #111;
}

body {
    margin: 0;
    max-width: 50em;
}
