:root {
    --invert: 0;
    --sepia: 0.1;
}

@media (prefers-color-scheme: dark) {
    :root {
        --invert: 1;
    }
}
@media print {
    :root {
        --invert: 0 !important;
        --sepia: 0 !important;
    }
    body {
        box-shadow: none;
    }
}

html {
    display: flex;
    place-content: center;
    filter: sepia(var(--sepia)) invert(var(--invert));
    background-color: #dfdfdf;
    color: #111;
    height: 100%;
}

body {
    padding: 0 1.5em;
    flex-basis: 100%;
    margin: 0;
    max-width: 50em;
    font-family: monospace;
    background-color: #eee;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0.1em 0.4em;
}
